/* Stili Generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* Backgound */

.background {
  position: relative;
}

.background-top {
  height: 80px;
  background-color: #009688;
}

.background-bottom {
  height: calc(100vh - 80px);
  background-color: #d7dbd6;
}

/* Main content */

.main-content {
  width: 75%;
  height: calc(100% - 2rem);
  margin: 1rem auto;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

/* Accounts (Sinistra) */

.accounts {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* DEBUG (DA OTTIMIZZARE) */
  border-right: 1px solid grey;
}

.my-profile {
  height: 50px;
  background-color: #eaeaea;
}

.notifications {
  height: 50px;
  background-color: #8edafc;
}

.contacts-research {
  height: 40px;
  background-color: #eaeaea;
}

.contacts-list {
  flex-grow: 1;
  background-color: #eaeaea;
  border-top: 1px solid black;
  overflow-y: auto;
}

/* Messaggi (Destra) */

.messages {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-profile {
  height: 50px;
  background-color: #eaeaea;
}

.messages-background {
  background-image: url(../img/boolzapp-background.jpg);
  background-size: contain;
  background-repeat: repeat;
  flex-grow: 1;
  overflow-y: auto;
}

.send-messsage {
  height: 50px;
  background-color: #f3eeea;
}